

body,html{
    width: 100%;
    height: 100%;
}

.sky,.grass,.road{
    position: relative;
}

.sky{
    height: 40%;
    background: skyblue;
}

.grass{
    height: 15%;
    background: seagreen;
}

.road{
    height: 30%;
    background: dimgray;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
}

.divider{
    border-bottom : 5px dashed white;
    height: 0;
    position: absolute;
   width: 100%;
   top : 45%;
}

#sun{
    position: absolute;
    width: 100px;
    left: 50%;
    animation:rotate 100s linear infinite;
}

.cloud{
    position: absolute;
    width: 400px;
    left: 0;
}

.cloud:nth-child(1){
    width: 80px;
    animation: wind 100s linear reverse infinite;
    
}

.cloud:nth-child(2){
    top: 60%;
    width: 150px;
    animation: wind 80s linear infinite;
}

.cloud:nth-child(3){
    top: 20%;
    width: 200px;
    animation: wind 90s linear infinite;
}

.cloud:nth-child(4){
    width: 300px;
    animation: wind 70s linear reverse infinite;
}

.cloud:nth-child(5){
    width: 90px;
    top : 80%;
    animation: wind 90s linear reverse infinite;
}

.cloud:nth-child(6){
    top : 60%;
    width: 60px;
    animation: wind 150s linear infinite;
}

.cloud:nth-child(7){
    top: 10%;
    width: 250px;
    animation: wind 100s linear reverse infinite;
}

.cloud:nth-child(8){
    top: 17%;
    width: 250px;
    animation: wind 200s linear reverse infinite;
}


.sonic{
    position: absolute;
    height: 100px;
    width: 100px;
    left: -10px;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.p1{
    top: -10%;
    animation-name: run;
    animation-duration: 5s;
}

.p2{
    top: 50%;
    animation-name: run;
    animation-duration: 3s;
}

@keyframes run{
    from{ transform: translateX(-200px)}
    to{ left: 100% }
}

@keyframes wind{
    form{
        left : -400px;
    }
    to{
        left: 100%;
    }
}

@keyframes rotate{
    from{
        transform: rotateZ(0);
        opacity: 1;
    }
    to{
        transform: rotateZ(360deg);
        opacity: 0.9;
    }
}


/*.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    color: white;
    border-radius: 50px;
    background: pink;
    cursor: pointer;
    transition: 1s linear;
}

.circle:hover{
    background: blueviolet;
    transform: rotate(360deg);
}*/